---
const currentYear = new Date().getFullYear();
---

<footer class="max-w-6xl mx-auto px-6 mt-20 py-10 border-t border-white/10 flex justify-center items-center text-sm text-secondary">
    <span>&copy; {currentYear} Omar Nataren. Casi todos los derechos reservados.</span>
</footer>